*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

 .navul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
  } 
  
  li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 40px 5% 35px 5%;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  
  li a:hover {
    color: #DF6589FF;
    background-color: #3C1053FF;
  }

  #NTIlogo{
      width: 25%;
      height: 100%;
      margin-left: 50px;
      margin-top: 5px;
  }


  .flow{
    background-image: url(https://www.newlightwc.org/x/cdn/?https://storage.googleapis.com/production-homestead-v1-0-9/049/25049/t7RbyTHz/75f24d3764224b1ea8d1891193e37cde);
    background-size: cover;
    height: 85vh;
    padding:0;
    margin:0;
  }
  #container
  {
    background: rgba(0, 0, 0, 0.7);
    margin-left: 15%;
    width: 70%;
    height: 85vh;
  }

  #infocontainer
  {
      width: 100%;
      height: 180vh;
      background-color: #240536;
  }

  #maintext{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10%;
    text-align: center;
    color: white;
    font-size: 400%;
  }

  #maindate{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 300%;
  }

  .regbtn{
    margin: 10vh 0 0 35%;
    padding: 5% 10% 5% 10%;
    background-color: #8600c8;
    cursor: pointer;
    color: white;
    border: black solid 2px;
    text-align: center;
    font-size: 16px;
  }
  
  .regbtn:hover {
    color: whitesmoke;
    background-color: #430064;
  }

  #regreg{
    margin: 20vh 0 0 30%;
    padding: 15%;
  }



/* Information */

.para{
  color: white;
  width: 80%;
  margin: 0 0 5vh 10%;
  padding-top: 10vh;
  font-size: 100%;
}


/* Contact */

figure{
  border: black solid 2px;
  width: 25%;
  margin-top: 20vh;
  margin-left: 6%;
  float: left;
}

.figimg{
  width: 100%;
  height: auto;
}

figcaption{
  padding: 2vh;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: cadetblue;
}

#discordjoin{
  padding: 0.2vh 30% 0.2vh 30%;
}
